/* Set all margin and padding to 0 */
* {
	margin: 0;
	padding: 0;
}

/* ---------- Parental Styles BEGIN ---------- */

body {
	background-color: #f4f4f4;
	font-family: 'Titillium Web', Arial sans-serif;
}

.container {
	padding: 20px;
	height: auto;
}

.header {
	height: auto;
	width: 100%;
	position: relative;
	font-size: 150%;
}

main {
	display: none;
}




/* ---------- Navbar Styles BEGIN ---------- */

.navbar {
	text-align: center;
	padding: 20px;
	overflow: auto;

}

.menu_items_left {
	float: left;
	padding: 10px;
	overflow: visible;
}

.menu_li_left {
	float: left;
}

.menu_items_right {
	float: right;
	padding: 10px;
}

.menu_li_right {
	float: right;
}

.menu_items_right li {
	margin: 0 10px;
}

.navbar li {
	display: inline-block;
}

.navbar li:hover {
	text-decoration: underline;

}


a:link {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #000;
	text-decoration: underline;
}

a:visited {
	color: #000;
}

.title_1883 {

	margin-top: -27px;
	font-size: 300%;
	font-family: 'Tangerine', cursive;
	display: inline-block;
}

/* ---------- Working Styles BEGIN ---------- */


.welcome_1883 {

	font-size: 800%;
	font-family: 'Tangerine', cursive;
}

.welcome {

	margin: 30% 0 0 20%;
}

.page_body {

	position: fixed;
    display: none; 
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    z-index: 0; /* Specify a stack order in case you're using a different order for other elements */

}

/* ---------- Info Page Styles BEGIN ---------- */

.info_page {

	position: fixed;
    display: none; 
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    z-index: -1;
}

.info_wrapper {
	width: 50%;
	margin-top: 30%; 
	margin-left: 25%;
}

.info_page li {
	list-style-type: none;
}

/* ---------- Home Page Styles BEGIN ---------- */

.home_page {

	position: fixed;
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    z-index: -1;
}


.gallery {
	width: 100%;
	height: 60%;
	margin-top: 25vh;
}

.gall_left {
	width: 50%;
	float: left;
	height: 100%;
	position: relative;
	z-index: 2;
}

.gall_left p {
	margin: 0 0 0 15px;
}

.gall_left p:hover{
	text-decoration: underline;
}

.gall_right {
	width: 50%;
	float: right;
	height: 100%;
	position: relative;
	z-index: 2;
}

.gall_right p {
	float: right;
	margin: 0 15px 0 0;
}

.gall_right p:hover {
	text-decoration: underline;
}

.gallery_image {
	width: auto;
	float: right;
	height: 100%;
}

.transition_slider {
	width: 200%;
	background-color: #f4f4f4;
	height: inherit;
	position: absolute;
	right: 110%;
}

.item h1 {
	margin: 20% 0 0 20%;
	font-family: 'Titillium Web', Arial sans-serif;
	font-style: normal;
	font-size: 100%;
}

.item h2 {
	margin: 0 0 0 20%;
	font-family: 'Titillium Web', Arial sans-serif;
	font-style: normal;
	font-size: 60%;
}

.custom_hr {
    width: 50%;
    height: 1px;
    font-size: 1px;
    background-color: #000;
    line-height: 1px;
    margin-top: 5px;
    margin-bottom: 10px;
}


.placeholder_1 {
	background-color: #FFAD7A;
	height: inherit;
	width: 80%;
	margin-left: 10%;
	position: absolute;
	display: none;
}

.placeholder_2 {
	background-color: #A7C997;
	height: inherit;
	width: 80%;
	margin-left: 10%;
	position: absolute;
	display: none;

}

.placeholder_3 {
	background-color: #F1E4E8;
	height: inherit;
	width: 80%;
	margin-left: 10%;
	position: absolute;
	display: none;

}

.placeholder_4 {
	background-color: #CEE5F2;
	height: inherit;
	width: 80%;
	margin-left: 10%;
	position: absolute;
	display: none;

}

.placeholder_show {
	display: block !important;
}




/* ---------- Folio Page Styles BEGIN ---------- */

.folio_page {

	position: fixed;
    display: none; 
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    z-index: -1;
}



.folio_wrapper {
	width: 50%;
	height: 100%;
	margin-top: 20%; 
	margin-left: 25%;
}

.folio_gallery {
	display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-gap: 15px;
}

.folio_gallery img {
	object-fit: cover;
}

.folio_page p {
	margin: 0 auto;
}



/* ---------- General Styles BEGIN ---------- */

.content_page p {
	font-style: italic;
}



/* ---------- Footer Styles BEGIN ---------- */

.footer {

	position: fixed;
    width: 100%; 
    height: auto; 
    bottom: 0;
    left: 0;
    z-index: 10;
    padding: 10px


}

.footer p {

	font-style: italic;
	text-align: right;
	margin-right: 30px;
}

