/* Font */
/* <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800 */

.open-sans-uniquifier {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/* Set all margin and padding to 0 */
* {
	margin: 0;
	padding: 0;
}

/* ---------- Parental Styles BEGIN ---------- */

body {
	background-color: #f4f4f4;
	font-family: "Open Sans", Arial sans-serif;
}

.container {
	padding: 40px;
	height: auto;
}

.header {
	height: auto;
	position: relative;
	font-size: 150%;
	margin-bottom: 40px;
}

.body {
	height: auto;
	position: relative;
}

/* ---------- Navbar Styles BEGIN ---------- */

.navbar {
	text-align: center;
	overflow: auto;
}

.menu_home {
	float: left;
}

.menu_info {
	float: right;
    margin-left: 20px;
}

.menu_archive {
	float: right;
    margin-left: 20px;
}

.navbar li {
	display: inline-block;
}

a:link {
	color: #000000;
	text-decoration: none;
}

a:hover {
	color: #000000;
	text-decoration: underline;
}

a:visited {
	color: #000000;
}

/* ---------- Body Styles BEGIN ---------*/



/* ---------- Working Styles BEGIN ---------- */



/* ---------- Archive Styles BEGIN -----------*/

#archiveTable th {
	text-align: left;
	vertical-align: top;
	font-weight: 600;
	padding-right: 10px;
}

#archiveTable td {
	text-align: left;
	padding-right: 10px;
}

 #getArchiveButton {
	background-color: #ffffff;
	color: #000000;
	border: none;
	padding: 15px 30px;
	text-align: center;
	cursor: pointer;

 }

/* ---------- Info Page Styles BEGIN ---------- */



/* ---------- Home Page Styles BEGIN ---------- */


/* ---------- Folio Page Styles BEGIN ---------- */


/* ---------- Footer Styles BEGIN ---------- */

.footer {

	position: relative;
    height: auto; 
    bottom: 0;
    left: 0;
    z-index: 10;
	margin-top: 40px;
}

.footer p {

	font-style: italic;
	text-align: right;
}
